#!/bin/bash
kubectl --namespace=kube-system get service kubernetes-dashboard

if [ $? -eq 0 ]
then
    echo "already exists"
else
    echo "creating"
    kubectl create -f {{ manifests_path }}/{{ dashboard_yaml }}
fi
