# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Load balancer
{% if lb_name is defined and lb_ip is defined %}
{{ lb_ip }}  {{ lb_name }}
{% endif %}

# Kubernetes nodes
{{ dict_k8s.one.ip }} {{ dict_k8s.one.name }}
{{ dict_k8s.two.ip }} {{ dict_k8s.two.name }}
{{ dict_k8s.three.ip }} {{ dict_k8s.three.name }}

{% if mgmt_nodes is defined and mgmt_nodes|length > 0 %}
# Management nodes
{% for i in mgmt_nodes %}
{{ i.ip }} {{ i.name }}
{% endfor %}
{% endif %}
